<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.linktag.linkapp">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="com.linktag.base.linkapp"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity
            android:name=".ui.intro.Intro"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="esansoft"
                    android:scheme="esansoftrefac" />
            </intent-filter>
        </activity>
        <!-- 팝업 Activity -->
        <activity
            android:name=".ui.login.Popup"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".ui.settings_profile.ProfileMain"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentUser" />
        <activity
            android:name=".ui.permission_info.PermissionInfo"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentUser" />

        <activity
            android:name=".ui.board.BoardMain"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentUser" />
        <activity
            android:name=".ui.board.BoardDetail"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentUser" />
        <!-- 팝업 Activity -->
        <activity
            android:name=".ui.board.BoardPopup"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".ui.login.Login"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentUser" />
        <activity
            android:name=".ui.main.Main"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentUser" />
        <activity
            android:name=".ui.settings_main.SettingMain"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentUser" />
        <activity
            android:name=".ui.sign_up.SignUp"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentUser" />
        <activity android:name=".ui.scanner.ScanBarcode" />
        <activity
            android:name=".ui.menu.Menu"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentUser" />
        <activity
            android:name=".ui.menu.AddService"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentUser" />
        <activity
            android:name=".ui.menu.AddShared"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentUser" />
        <activity
            android:name=".ui.menu.AddSharedDetail"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentUser" />
        <activity
            android:name=".ui.menu.ChooseOne"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".ui.menu.Member"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentUser"/>
        <activity
            android:name=".ui.menu.MemberInvite"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentUser" />
        <activity
            android:name=".ui.settings_main.Preference"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentUser" />


        <!-- ================================== -->


        <!-- ================================== -->
        <!-- Service -->
        <!-- ================================== -->
        <service
            android:name=".base.fcm.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".base.fcm.MyJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service> <!-- ================================== -->
        <!-- Provider -->
        <!-- ================================== -->
        <activity android:name="com.soundcloud.android.crop.CropImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider> <!-- ================================== -->
        <!-- meta -->
        <!-- ================================== -->
        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />
        <!--복약-->
        <activity
            android:name=".ui.trp.TRPMain"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.trp.DetailTrp"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:excludeFromRecents="true"/>

        <!--장독-->
        <activity
            android:name=".ui.jdm.JDMMain"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:excludeFromRecents="true"/>

        <activity
            android:name=".ui.jdm.DetailJdm"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:excludeFromRecents="true"/>

        <!--PC-->
        <activity
            android:name=".ui.pcm.PCMMain"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:excludeFromRecents="true"/>

        <activity
            android:name=".ui.pcm.DetailPcm"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:excludeFromRecents="true"/>

        <!--냉장고-->
        <activity
            android:name=".ui.rfm.RFMMain"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:excludeFromRecents="true"/>
        <activity
            android:name=".ui.rfm.DetailRfm"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:excludeFromRecents="true"/>
        <activity
            android:name=".ui.rfm.DetailRfd"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:excludeFromRecents="true"/>

        <!-- 물주기 -->
        <activity
            android:name=".ui.pot.PotList"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.pot.PotDetail"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait" />

        <!-- 필터관리 -->
        <activity
            android:name=".ui.frm.FrmList"
            android:screenOrientation="portrait"
            android:excludeFromRecents="true"/>
        <activity
            android:name=".ui.frm.FrmDetail"
            android:screenOrientation="portrait"
            android:excludeFromRecents="true"/>

        <!-- 화장품 유효기간 관리 -->
        <activity
            android:name=".ui.cos.CodList"
            android:screenOrientation="portrait"
            android:excludeFromRecents="true"/>
        <activity
            android:name=".ui.cos.CodDetail"
            android:screenOrientation="portrait"
            android:excludeFromRecents="true"/>

        <!-- 차량소모품 교체점검내역 -->
        <activity
            android:name=".ui.car.CadList"
            android:screenOrientation="portrait"
            android:excludeFromRecents="true"/>
        <activity
            android:name=".ui.car.CadDetail"
            android:screenOrientation="portrait"
            android:excludeFromRecents="true"/>

        <!-- sqllite용 -->
        <activity
            android:name=".ui.sqllite.SqlMain"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentUser" />

        <activity
            android:name=".ui.beacon.beaconMain"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentUser" />


        <!-- 푸시알람 -->
        <!--        <receiver android:name=".ui.alarm.DeviceBootReceiver"-->
        <!--            android:enabled="false">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="android.intent.action.BOOT_COMPLETED" />-->
        <!--            </intent-filter>-->
        <!--        </receiver>-->

        <!--        <receiver android:name=".ui.alarm.AlarmReceiver" />-->

        <!-- 이력 -->
        <activity
            android:name=".ui.master_log.MasterLog"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentUser" />

    </application>

</manifest>